# Distributions
cartosphere-*/
cartosphere-*.tar.gz

# macOS: XCode and Finder
**/*.dSYM
**/*.dSYM.zip
**/*.DS_Store
**/.vs/
*.xcworkspace/xcuserdata/*.xcuserdatad/
*.xcworkspace/project.xcworkspace/

# macOS binaries
src/cartosphere
Build/
*.o
*.d

# Visual Studio
Debug/
Release/

# Windows vcpkg packages
vcpkg_installed/
